url: "https://al-the-x.github.io"
baseurl: "/presentations"

title: Presentations by David Rogers aka "AL the X"
license: Creative Commons BY-NC-SA 4.0 <https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode>
description: >- # this means to ignore newlines until "baseurl:"
  All works created and owned by [David Rogers AKA "AL the X"](https://al-the-x.me)
  and released under [Creative Commons BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode)

email: hello@al-the-x.me
twitter_username: al_the_x
github_username:  al-the-x

# Build settings
markdown: kramdown
theme: minima
header_pages: [ 'none' ] # disable pages in `header.html`
plugins:
# Enabled by default via GitHub Pages, duplicated here to make local preview
#   work like deployment target
  - jekyll-coffeescript ## process `*.coffee` files for hipsters
  - jekyll-gist ## adds `{% gist [GIST_ID] %}`
  - jekyll-github-metadata ## https://github.com/jekyll/github-metadata
  - jekyll-paginate ## deprecated? https://github.com/jekyll/jekyll-paginate
  - jekyll-relative-links ## convert [link](to/file.md) >> [link](to/file.html)
  - jekyll-optional-front-matter ## https://github.com/benbalter/jekyll-optional-front-matter
  - jekyll-readme-index ## https://github.com/benbalter/jekyll-readme-index
  - jekyll-default-layout ## https://github.com/benbalter/jekyll-default-layout
  - jekyll-titles-from-headings ## https://github.com/benbalter/jekyll-titles-from-headings
# Optional from whitelist:
# - jekyll-feed ## generate `feed.xml` from pages/posts but not collections :cry:
# - jekyll-redirect-from ## add `redirect_from` and `redirect_to` front-matter
  - jekyll-seo-tag ## adds `{% seo %}` for use in `<head>`
# - jekyll-sitemap ## generates `sitemap.xml` for pages/posts/collections
# - jekyll-avatar ## adds `{% avatar [USERNAME] %}`
  - jemoji ## adds GitHub emoji shorthand, e.g. `:+1:`
# - jekyll-mentions ## adds GitHub @-mentions, e.g. `@username`
# - jekyll-include-cache ## cache `_includes` for speedier builds

show_excerpts: true
future: true

collections:
  presos:
    output: true
    permalink: /:name

defaults:
  - scope:
      path: ""
      type: presos
    values:
      layout: preso

# Default `exclude` list:
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
# Default `exclude` list:
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
