<script src="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.min.js"
    integrity="sha256-ixSKHrWAL2k0mqVSRju9+to2/uZSEK9+kJRfdNBolG8=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/plugin/markdown/marked.js"
    integrity="sha256-c6mIBJmjwIEMzRFz4hJTWcWDvcGnqJUicbkA6bsQoYE=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/plugin/markdown/markdown.min.js"
    integrity="sha256-k07Q1HjAu3jUhg23V+WcK14cqHXbgRpIdYHjfLOkS+c=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/plugin/highlight/highlight.min.js"
    integrity="sha256-Vn5yQ1qZyXA5iaNBIQOU3BCgEp1CU2CHUcPewUMn1tw=" crossorigin="anonymous" async
    onload="javascript:hljs.initHighlightingOnLoad()"></script>
