<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    {%- include head.html -%}
    {%- include reveal.head.html -%}
    <style>
      aside[class^="pull-"],
      aside[class^="pull-"] ~ * {
        display: inline-block;
        max-width: 50%;
      }
      aside.pull-left {
        float: left;
      }
      aside.pull-right {
        float: right;
      }
    </style>
  <body>
    <main class="reveal" aria-label="Content">
      <div class="state-background"></div>
      <div class="slides">
        <section data-markdown data-separator="^---+$">
          {{ content }}
        </section>
      </div>
      <nav class="progress"><span></span></nav>
    </main>
    {%- include reveal.foot.html -%}
    <script>
      Reveal.initialize();
    </script>
  </body>
</html>
